{% extends 'lor.tango.html.twig' %}

{% block title %}Удаление автора{% endblock %}
{% block head_title %}Удаление автора{% endblock %}

{% block body %}
<form method="post" action="{{ path('author_delete', {'id': author.id}) }}"
      onsubmit="return confirm('Вы уверены, что хотите удалить данного автора?');">
    <button class="btn btn-danger">Delete</button>
</form>
{% endblock %}
